	<section class="banner jarallax">
  <div class="w3ls_banner_info">



			<div class="container">
				<div class="w3l-banner-grids">
					<div class="slider">
						<div class="callbacks_container">
							<ul class="rslides" id="slider4">
								<li>
									<div class="w3ls-text">
										<h3>welcome to EHealth</h3>
										<h3> the right potential</h3>
									
									</div>
								</li>
								<li>
									<div class="w3ls-text">
										<h3>Good hospitality</h3>
										<h3>super services</h3>
										
									</div>
								</li>
								<li>
									<div class="w3ls-text">
										<h3>healthy environment</h3>
										<h3>with clean & Green</h3>
							
									</div>
								</li>
								<li>
									<div class="w3ls-text">
										<h3>best treatment and </h3>
										<h3> good care</h3>
								
									</div>
								</li>
							</ul>
						</div>

					</div>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</section>
  